---
import Excerpt from '../components/Excerpt.astro';
import Main from '../layouts/Main.astro'

const {name, data} = Astro.props
const permalink = Astro.request.url.pathname

export async function createCollection() {
  const allPosts = Astro.fetchContent('./articles/*.md');

  const categories = {}
  allPosts.forEach(post => {
    if (post.category) {
      categories[post.category] = categories[post.category] ?? []
      categories[post.category].push(post)
    }
  })

  return {
    route: `/category/:name`,
    paths() {
      return Object.keys(categories).map((category, i) => (
        {params: {name: category}}
      ))
    },
    async props({ params }) {
      return params?.name ? {name: params.name, data: categories[params.name]} : {};
    },
  };
}
---
<Main title={`${name}`} description={`All blog posts about ${name}`} permalink={permalink}>
  <h1>All posts categoried as: {name}</h1>
  {data.map((post, id) => 
    <Excerpt post={post} expanded={id==0} />
  )}
</Main>