---
import Excerpt from '../components/Excerpt.astro';
import Main from '../layouts/Main.astro'
import slugify from 'slugify'

const { collection } = Astro.props;
const permalink = Astro.request.url.pathname

export async function createCollection() {
  const allPosts = Astro.fetchContent('./posts/*.md');

  const tags = {}
  allPosts.forEach(post => {
    post.tags.forEach(tag => {
      tags[tag] = tags[tag] ?? []
      tags[tag].push(post)
    })
  })

  return {
    routes: Object.keys(tags).map((tag, i) => (
      {tag, posts: tags[tag]}
    )),
    permalink: ({ params }) => `/tag/${params.tag}`,
    async data({ params }) {
      return params.tag ? tags[params.tag] : {};
    },
    pageSize: Infinity,
  };
}
---
<Main title={`${collection.params.tag}`} description={`All blog posts about ${collection.params.tag}`} permalink={permalink}>
  <div class="mt-28">
    <h1>All posts tagged as: {collection.params.tag}</h1>
    <div class="h-64 grid grid-flow-col grid-cols-3 gap-4">
      {collection.data.map(post => 
        <Excerpt post={post} />
      )}
    </div>
  </div>  
</Main>