---
import Excerpt from '../components/Excerpt.astro';
import Main from '../layouts/Main.astro'

const {name, data} = Astro.props
const permalink = Astro.request.url.pathname

export async function createCollection() {
  const allPosts = Astro.fetchContent('./articles/*.md');

  const tags = {}
  allPosts.forEach(post => {
    post.tags?.forEach(tag => {
      tags[tag] = tags[tag] ?? []
      tags[tag].push(post)
    })
  })

  return {
    route: `/tag/:name`,
    paths() {
      return Object.keys(tags).map((tag, i) => (
        {params: {name: tag}}
      ))
    },
    async props({ params }) {
      return params?.name ? {name: params.name, data: tags[params.name]} : {};
    },
  };
}
---
<Main title={`${name}`} description={`All blog posts about ${name}`} permalink={permalink}>
  <h1>All posts tagged as: {name}</h1>
  {data.map((post, id) => 
    <Excerpt post={post} expanded={id==0} />
  )}
</Main>