---
import Taxonomy from '../layouts/Taxonomy.astro'

const allPosts = Astro.fetchContent('./articles/*.md');

const title="Tags"
const description="Tagcloud of all tags for this site"
const permalink = "tags"

const tags = {}
allPosts.forEach(post => {
  post.tags?.forEach(tag => {
    tags[tag] = tags[tag] ?? []
    tags[tag].push(post)
  })
})
---
<Taxonomy title={title} description={description} permalink={permalink}>
  {Object.keys(tags).map(tag => (
    <li><a href={`/tag/${tag}`}>{tag} ({tags[tag].length})</a></li>
  ))}
</Taxonomy>

<style>
  li {
    @apply inline;
    @apply mr-4;
  }
</style>