---
import {dateStr, dateIso} from '../utils'

export interface Props {
  post: any
}

const { title, publishDate, heroImage, tags, category } = Astro.props.post;

const tagsStr = (await Promise.all(tags.map(tag => <a href={`/tag/${tag}`}>{tag}</a>))).join(', ')
---

<article class="article">
  <header>
    {heroImage && <img class="hero-image" loading="lazy" src={`/assets/${heroImage}`} />}
    <div class={`${!heroImage && 'md:mt-48 mt-20'}`}>
      <h1>{title}</h1>
      <p><span class="mt-1 text-sm">By <strong>Johan Stenehall</strong> / <time datetime={dateIso(publishDate)}>{dateStr(publishDate)}</time></span>
    </div>
  </header>
  <main>
    <slot />
  </main>
  <footer>
    <div>
      <p class="text-sm">This was filled under <a href={`/category/${category}`} class="" title={category}>{category}</a>
      with some tags: {tagsStr}
      </p>
    </div>
  </footer>
</article>

<style>
.tag::before {
  content: "/"
}

.hero-image {
  @apply w-screen object-cover object-center relative left-0;
  max-width: 1280px;
  max-height: 50vh;
}

header div {
  @apply prose mx-16 max-w-screen-md mx-auto pt-12;
}

article {
  @apply mx-8;
}

main {
  @apply prose mx-16 max-w-screen-md mx-auto pb-12;
}

footer {
  @apply text-sm pb-12 flex flex-col items-center;
}

footer::before {
    content: "";
    @apply w-4/12 max-w-xs mx-auto mb-12 block border-current border-t;
}

article::after {
    content: "";
    @apply w-4/12 max-w-xs mx-auto mb-8 block border-current border-b;
}

@media (max-width: 50em) {
  .hero-image {
    height: 260px;
  }
}
</style>
