---
export interface Props {
  post: any
}

const { title, publishDate, heroImage, tags } = Astro.props.post;
---

<div class="layout">
  <article class="content">
  <div>
    <header class="flex flex-col items-center pb-16 mb-16 border-b-2 border-gray-400">
      {heroImage && <img class="hero-image" loading="lazy" src={`/assets/blog/${heroImage}`} />}
      <p class="mt-16">{publishDate} {tags.map(tag => <a class="tag ml-4" href={`/tag/${tag}`}>{tag}</a>)}</p>
      <h1 class="title">{title}</h1>
    </header>
    <main class="prose">
      <slot />
    </main>
  </article>
</div>

<style>
.tag::before {
  content: "/"
}

.hero-image {
  width: 100vw;
  object-fit: cover;
  object-position: center;
  max-width: 1280px;
  max-height: 50vh;
}

@media (max-width: 50em) {
  .hero-image {
    height: 260px;
  }
}
</style>
