---
import {dateStr, dateIso} from '../utils'

export interface Props {
  post: any
}

const { title, publishDate, heroImage, tags, category } = Astro.props.post;

const tagsStr = (await Promise.all(tags.map(tag => <a href={`/tag/${tag}`}>{tag}</a>))).join(', ')
---

<article class="article">
  <header>
    {heroImage && <img class="hero-image" loading="lazy" src={`/assets/${heroImage}`} />}
    <div class={`${!heroImage && 'md:mt-48 mt-20'}`}>
      <h1>{title}</h1>
      <p><span class="mt-1 text-sm text-gray-400">- <time datetime={dateIso(publishDate)}>{dateStr(publishDate)}</time></span>
    </div>
  </header>
  <main class="mt-8">
    <slot />
  </main>
  <footer>
    <div>
      <p class="text-sm">Filled under <a href={`/category/${category}`} class="" title={category}>{category}</a>
      with some tags: {tagsStr}
      </p>
    </div>
    <div class="mt-2">
      By <h3 class="mb-0 text-sm inline">Johan Stenehall</h3>
      <p class="inline"> a developer working for Volvo Car Mobility coding their web.</p>
    </div>
  </footer>
</article>

<style>
.tag::before {
  content: "/"
}

.hero-image {
  @apply w-screen object-cover object-center relative left-0;
  max-width: 1280px;
  max-height: 50vh;
}

header div {
  @apply prose mx-16 mx-auto pt-12;
}

.article header h1 {
  @apply mb-0;
}

article {
  @apply mx-8;
  overflow: hidden;
}

main {
  @apply prose mx-16 mx-auto pb-12;
}

footer {
  @apply pb-12 flex flex-col mx-auto max-w-prose;
}

footer::before, footer::after {
  content: "";
  @apply w-4/12 max-w-xs mx-auto block border-current;
}

footer::before {
  @apply border-t mb-12;
}

footer::after {
  @apply border-b mt-12;
}

@media (max-width: 50em) {
  .hero-image {
    height: 260px;
  }
}
</style>
