---
import {dateStr, dateIso} from '../utils'

export interface Props {
  post: any;
  expanded: boolean
}

const { post, expanded } = Astro.props;

let background = "background-image: linear-gradient(0.45turn, rgba(255, 255, 255, 0.15), rgba(100, 100, 100, 0.5))"
background = post.color ? `background: ${post.color}` : background
background = post.heroImage ? `background-image: linear-gradient(
  rgba(255, 255, 255, 0.75), 
      rgba(100, 100, 100, 0.65)
    ), url(/assets/blog${post.heroImage})` : background

---
<article class="flex" data-fade-in>
<a 
  class="pb-16" 
  href={post.url}>
  <h2 class="mb-2 font-bold">{post.title}</h2>
  <p class="uppercase text-xs">Published <time datetime={dateIso(post.publishDate)}>{dateStr(post.publishDate)}</time></p>
  {expanded &&   
    <div class="mt-4 text-lg">
      <p>{post.description}</p>
      <p class="mt-4 text-primary">Keep reading</p>
    </div>}
</a>
</article>

<style>
p {
  -webkit-line-clamp: 3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

</style>